.container {
    margin: 0px auto;
    height: 200px;
    width: 60%;
}
 
.login-container {
    margin-left: 25%;
    padding-top: 10%;
    width: 65%;
    float: left;
}
 
#user-name {
    background-color: #BBB;
    color: white;
    border: none;
    padding: 4px;
    width: 200px;
    height: 30px;
}
 
#login {
    background-color: rgb(255, 174, 0);
    border: none;
    color: white;
    padding: 4px;
    width: 80px;
    height: 39.5px;
}
 
#login:hover {
    cursor: pointer;
    background-color: rgb(255, 163, 0);
    box-shadow: 1px 1px 1px #888888;
}